@import "fonts";

// Переменные, миксины, классы
$fontMontserrat: Montserrat, sans-serif;
$fontRoboto: Roboto, sans-serif;
$fontGotham: gothampro, sans-serif;
$stateBlue: #645CC3;
$SilverLight: #F7F7F8;
$white: #FFFFFF;
$coquelicot: #FB4516;
$heightFullScreen: 100vh - 10vh;

// градиент
@mixin gradient($color1, $color2) {
    background: linear-gradient(90deg, $color1 0%, $color2 100%);
}

// Заголовок секций
@mixin sectionTitle {
    font-family: gothampro;
    font-weight: 600;
    font-size: 3em;
    line-height: 38px;
    margin-bottom: 90px;
}

%flex {
    display: flex;
}

@mixin linkFree {
    padding: 14px 30px;
    @extend %fontHeader;
    font-weight: 600;
    border: 1px solid #141414;
    border-radius: 100px;
    transition-duration: 0.7s;
    a {
        transition-duration: 0.7s; 
    }
}
@mixin linkFreeHover {
    background-color: $coquelicot;
    cursor: pointer;
    transition-duration: 0.7s;
    a{
        color: $white;
        transition-duration: 0.7s;
    }
}
// Общие стили и сброс
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    min-height: 100%;
}
a {
    color: black;
    text-decoration: none;
    display: inline-block;
}
ul {
    list-style-type: none;
}
.container {
    width: 100%;
}
.section {
    padding: 50px (315px/1920px*100%);
    // height: 100vh;
}

@import 'header';
@import 'mainBaner';
@import 'programms';
@import 'bonus';
@import 'teachers';